<div class="modal show" id="modalname" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Promodoro Timer</h3>
        <div class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
      <div class="modal-body m-0 p-0">
        <form class="form-group clr-row">
          <div class="clr-col">
            <label>Promodoro Time</label>
            <input placeholder="Promodoro Time" name="promodoro" type="number" [(ngModel)]="timer.promodoro"/>
          </div>
          <div class="clr-col">
            <label>Long Break Time</label>
            <input placeholder="Long Break Time" name="long" type="number" [(ngModel)]="timer.long"/>
          </div>
          <div class="clr-col">
            <label>Short Break Time</label>
            <input placeholder="Short Break Time" name="short" type="number" [(ngModel)]="timer.short"/>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onConfirm(timer)">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
