.action-button {
  border-radius: 0;
}

@import url('https://fonts.googleapis.com/css?family=Monoton');

.timer-ticks {
  padding: 3rem;
  font-family: 'Monoton', cursive;
  font-size: 10vw;
}

.quotes {
  font-family: 'Yeseva One', cursive;
  text-transform: capitalize;
  font-size: 1rem;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}
